<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>SD TopSpots -Angular</title>
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
	<!-- endbower -->

	<!-- inject:css -->
	<link rel="stylesheet" href="/app/styles/styles.css">
	<!-- endinject -->
	
</head>
<body ng-controller="MainController as vm" >
	<h1>San Diego Top-Spots</h1>
    <div id='mainCont'>
        <table  class="table table-bordered table-striped">
            <thead class="table">
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
            </thead>
            <tbody>
	            <tr ng-repeat="x in vm.topspots">
	            	<td>{{x.name}}</td>
	            	<td>{{x.description}}</td>
	            	<td><a class="btn btn-primary" target="_blank" href="https://www.google.com/maps?q={{x.location[0]}},{{x.location[1]}}">Location</a></td>
	            </tr>
            </tbody>
            </table>
            <div class="form-inline" >
	            <div class="form-group">
	            	<input class='form-control' type='text' ng-model="vm.name" class="form-control" placeholder="Top Spot Name"/>
	            </div>
	            <div class="form-group">
	            	<input class='form-control' type='text' ng-model="vm.description" class="form-control" placeholder="Description"/>
	            </div>
	            <div class="form-group">
	            	<input class='form-control' type='text' ng-model="vm.location" class="form-control"  placeholder="Lat,Lng"/>
	            </div>
	        <div class="form-group">
	        <input  ng-click="vm.addrow()" id="subBtn" type='button' value="Submit" class="btn btn-primary"></input>
	        </div>
        </div><!--close addRow-->
     	

    </div> 
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- endbower -->

	<!-- inject:js -->
	<script src="/app/app.js"></script>
	<script src="/app/topspots.controller.js"></script>
	<script src="/app/topspots.factory.js"></script>
	<!-- endinject -->
	
</body>
</html>